-# add to end of index.html.haml
 
= link_to 'Add new movie', new_movie_path

%h1 All Movies

%table#movies.table.table-sm.table-striped
  %thead
    %tr
      %th.link-tabla 
        = link_to "Movie Title", :sort_var => "title"
      %th Rating
      %th.link-tabla 
        = link_to "Release Date", :sort_var => "release_date"
      %th More Info
  %tbody
    - @movies.each do |movie|
      .content
        = render partial: 'layouts/movies_form', locals: {movie: movie}
        
